@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<div class="alert alert-success" style="display: none">
    <strong>Success!</strong> Gig Removed Successfully.
</div>


<ul class="gigs V-Offset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Gigs", new {gigId = gig.Id})" class="GigEdit">Edit</a>
                    <div class="divider"></div>
                    <a href="#" data-gig-id="@gig.Id" class="GigDelete">Delete</a>
                </div>
            </div>  
        </li>
    }
</ul>

@Html.Partial("ModalConfirmDelete")

@section scripts{
    <script>
        var modalConfirm = function(callback) {

            $(".GigDelete").on("click",
                function() {
                    $("#delete-modal").modal('show');
                });

            $("#modal-btn-yes").on("click",
                function() {
                    callback(true);
                    $("#delete-modal").modal('hide');
                });

            $("#modal-btn-no").on("click",
                function() {
                    callback(false);
                    $("#delete-modal").modal('hide');
                });
        };

        modalConfirm(function(confirm) {
            if (confirm) {
                $.post("@Url.Action("Delete","Gigs")",
                        { gigId: $(".GigDelete").attr("data-gig-id") })
                    .done(function () {
                        $(".alert-success").show();
                        setTimeout(function () { location.reload(); }, 2000);
                    })
                    .fail(function() {
                        alert("Something Wrong please try again.");
                    });
            
            }
        });
    </script>
}
